.card-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include respond(830px) {
    flex-direction: row;
  }

  &:hover a {
    &:not(:hover) {
      opacity: 0.6;
      transform: scale(0.9);
    }
  }
}
