.footer {
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  padding: 1rem 1rem 3rem 1rem;
  ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;

    li {
      a {
        display: inline-block;
        padding: 1rem;
        margin: 1rem;
        line-height: 0;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: all 0.2s;

        &:hover,
        &:focus {
          border: 2px solid black;
          background-color: var(--color-yellow);
          outline: none;
        }
      }
    }
  }

  p {
    font-size: 1.4rem;
  }
}
