.form {
  background-color: #ffffff;
  padding: 3rem;
  border: var(--border-2);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 0 black;

  // button:disabled {
  //   opacity: 0.5;
  // }
}
