.social-list {
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  margin-top: 3rem;

  .list-item {
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      outline: none;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        background-color: var(--color-yellow);
        top: 0;
        left: 2.7rem;
        width: 12rem;
        height: 100%;
        z-index: -1;
        border-radius: 0 100px 100px 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s;
      }

      &:hover::before,
      &:focus::before {
        transform: scaleX(1);
      }
    }

    &__box {
      background-color: var(--color-yellow);
      border-radius: 50%;
      padding: 1rem;
      border: var(--border-2);
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &--icon {
        font-size: 4.5rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
