:root {
  --font-size-default: 1.8rem;
  --font-size-medium: 2.4rem;

  // COLORS
  --color-red: #fa4238;
  --color-yellow: #fddd00;
  --color-green: #239f94;
  --color-pink: #ff90e7;

  // BORDERS
  --border-1: 1px solid black;
  --border-2: 2px solid black;

  --border-radius-small: 7px;
}
