.u-text-center {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-zindex-2 {
  position: relative;
  z-index: 2;
}
